html {
  scroll-behavior: smooth;
}

html, body, #root, .App {
  // height: 100%;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 2px;
}

*::-webkit-scrollbar:horizontal {
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: .75rem;
  border: none;
  background-color: rgba(#000, 1);
}

::-webkit-scrollbar-track {
	background-color: rgba(#000, .2);
}

.icon {
  display: inline-block;
  // width: 1rem;
  // height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  flex-grow: 0;
  flex-shrink: 0;
}


.glass {
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    background-image: linear-gradient(
                        to left,
                          rgba(255, 255, 255, 0) 0%,
                          rgba(255, 255, 255, 1) 2%,
                          rgba(255, 255, 255, 1) 98%,
                          rgba(255, 255, 255, 0) 100%),
                      linear-gradient(
                        to left,
                          rgba(255, 255, 255, 0) 0%,
                          rgba(255, 255, 255, 1) 2%,
                          rgba(255, 255, 255, 1) 98%,
                          rgba(255, 255, 255, 0) 100%);
  }
}